<div class="alert" [attr.data-type]="configuration.style">
    @if (configuration.icon; as icon) {
        <div class="alert__icon">
            <span class="material-icons icon-small">{{icon}}</span>
        </div>
    }

    <div class="alert__content">
        @if (configuration.title; as title) {
            <div class="alert__content__title">
                {{title}}
            </div>
        }
        <div class="alert__content__description" [innerHTML]="configuration.description"></div>
    </div>

    @if (configuration.actionButton; as actionButton) {
        <div class="alert__action">
            <button class="outlined-button" (click)="actionButton.fn()">
                {{actionButton.text}}
            </button>
        </div>
    }

    @if (configuration.showCloseButton) {
        <button type="button" class="alert__close icon-button">
            <span class="material-icons alert__close__icon" (click)="close.emit(true)">close</span>
        </button>
    }
</div>