:host {
    display: block;
}

.alert {
    display: flex;
    gap: 16px;
    padding: 16px var(--padding-x-card, 12px);
    background: var(--canvas-background-alert, var(--color-surface));
    position: relative;
    border: var(--border-alert);
}

.alert[data-type="primary"] {
    --rgb-color-alert: var(--rgb-primary);
}

.alert[data-type="tertiary"] {
    --rgb-color-alert: var(--rgb-tertiary);
}

.alert::before,
.alert::after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    transition: background .2s ease;
}

.alert::before {
    width: 100%;
    background: rgba(var(--rgb-color-alert, var(--rgb-error)), 0.08);
}

.alert::after {
    width: 3px;
    background: linear-gradient(to top, rgb(var(--rgb-color-alert, var(--rgb-error))) 35%, rgba(var(--rgb-color-alert, var(--rgb-error)), .5));
}

.alert__icon {
    margin-left: -4px;
    margin-right: -4px;
    color: rgb(var(--rgb-color-alert, var(--rgb-error)));
}

.alert__content {
    height: 100%;
    display: grid;
    align-items: center;
    flex: 1;
}

.alert__content__title {
    font-family: var(--label-large-font-family-name);
    font-style: var(--label-large-font-family-style);
    font-weight: var(--label-large-font-weight);
    font-size: var(--label-large-font-size);
    letter-spacing: var(--label-large-letter-spacing);
    line-height: var(--label-large-line-height);
    text-transform: var(--label-large-text-transform);
    text-decoration: var(--label-large-text-decoration);
    color: var(--color-on-surface);
}

.alert__content__title+.alert__content__description {
    margin-top: 4px;
}

.alert__content__description {
    font-family: var(--body-medium-font-family-name);
    font-style: var(--body-medium-font-family-style);
    font-weight: var(--body-medium-font-weight);
    font-size: var(--body-medium-font-size);
    letter-spacing: var(--body-medium-letter-spacing);
    line-height: var(--body-medium-line-height);
    text-transform: var(--body-medium-text-transform);
    text-decoration: var(--body-medium-text-decoration);
    color: var(--color-on-surface-variant);
    text-wrap: balance;
}

.alert__close {
    margin-right: -12px !important;
    margin-top: -6px !important;
}

.alert__close__icon {
    --size-material-symbol-icon: 20px;
    cursor: pointer;
    color: rgb(var(--rgb-on-surface));
    opacity: .75;
    transition: opacity .2 ease;
}

.alert__close__icon:hover {
    opacity: 1;
}