<mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <input #inputHtml type="text" matInput [placeholder]="placeholder ? placeholder : 'Buscar...'"
        [formControl]="autocompleteCtrl" [matAutocomplete]="auto" />
    <button matSuffix class="icon-button" (click)="clearInput()" [disabled]="control.disabled" type="button">
        <span class="material-icons">close</span>
    </button>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        @if (!surrender_box_openings.length&&loading) {
        <mat-option disabled>Buscando...</mat-option>
        }
        @if (!surrender_box_openings.length&&!loading) {
        <mat-option disabled>
            <div class="flex gap-2 items-center justify-between">
                <span>No hay resultados...</span>
            </div>
        </mat-option>
        }
        @for (surrender_box_opening of surrender_box_openings; track surrender_box_opening) {
        <mat-option [value]="surrender_box_opening">
            <div class="grid">
                <div class="label-large">
                    {{((surrender_box_opening?.surrender_box?.user_id ?? 0) | getUserById | async)?.name}} -
                    {{surrender_box_opening?.surrender_box?.name}}
                    <span class="label-medium">({{surrender_box_opening?.surrender_box?.type | titlecase}})</span>
                </div>
                <div class="body-small flex gap-2">
                    <span class="py-px px-2 rounded-full bg-tertiary-container text-on-tertiary-container">
                        {{(surrender_box_opening?.surrender_box?.account?.coin ??
                        surrender_box_opening?.surrender_box?.coin)|titlecase}}
                    </span>
                    @if (surrender_box_opening?.surrender_box?.account) {

                    <span>Cuenta: {{surrender_box_opening?.surrender_box?.account?.number}} |
                        {{surrender_box_opening?.surrender_box?.account?.bank?.name}}</span>

                    }
                </div>
            </div>
        </mat-option>
        }
    </mat-autocomplete>
</mat-form-field>