<app-item-list-template [configuration]="configuration"/>

<ng-template #anulateFormTemplate>
    <div class="__form">
        <mat-form-field>
            <mat-label>Motivo</mat-label>
            <textarea matInput placeholder="Comment" rows="2" [formControl]="commentCtrl"></textarea>
        </mat-form-field>
        <p>Una vez anulado no se puede revertir el proceso, pero puede emitir la factura con otro proceso</p>
    </div>
</ng-template>

<ng-template #emitFormTemplate>
    <div class="__form" [formGroup]="emitForm">
        <div class="__form-item-switch">
            <div>
                <div class="label-large">Al crédito</div>
                <p class="body-small">Se crea a una cuota con fecha de expiración</p>
            </div>
            <mat-slide-toggle formControlName="credit"/>
        </div>
        @if (emitCreditCtrl.value) {
            <mat-form-field>
                <mat-label>Fecha de expiración</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="expiration_date" [min]="minDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>*Campo requerido</mat-error>
            </mat-form-field>
        }
        <mat-form-field>
            <mat-label>Comentario</mat-label>
            <textarea matInput placeholder="Comentario" rows="2" formControlName="emit_comment"></textarea>
            <mat-error>*Campo requerido</mat-error>
        </mat-form-field>
        <p>Una vez emitido a Sunat no se puede revertir el proceso, pero puede anular la factura con otro proceso</p>
    </div>
</ng-template>

<ng-template #previewEmitTemplate let-document>
    <div style="display: grid; grid-template-columns: auto 1fr; column-gap: 24px;">
        <p class="label-large" style="color: rgba(var(--rgb-on-surface), .5);">Serie</p>
        <p>{{document.serie}}</p>

        <p class="label-large" style="color: rgba(var(--rgb-on-surface), .5);">Correlativo</p>
        <p>{{document.correlative}}</p>

        <p class="label-large" style="color: rgba(var(--rgb-on-surface), .5);">Fecha de emisión</p>
        <p>{{document.emit_date | date: 'dd/MM/yyyy'}}</p>

        <p class="label-large" style="color: rgba(var(--rgb-on-surface), .5);">Fecha expiración</p>
        <p>{{document.expiration_date | date: 'dd/MM/yyyy'}}</p>

        <p class="label-large" style="color: rgba(var(--rgb-on-surface), .5);">Estado</p>
        <p><span class="status-chip" [title]="document.status">{{document.status}}</span></p>

        @if (document.emit_comment) {
            <p class="label-large" style="color: rgba(var(--rgb-on-surface), .5);">Comentario</p>
            <p>{{document.emit_comment}}</p>
        }

        <p class="label-large" style="color: rgba(var(--rgb-on-surface), .5);">Sunat inf.</p>
        <p>{{document.sunat_information}}</p>
    </div>
    <div style="display: grid; grid-template-columns: 1fr 1fr; margin-top: 12px; column-gap: 8px;">
        <a class="elevated-button" href="{{document.link_file}}.pdf" download="{{document.serie}}-{{document.correlative}}.pdf" target="_blank">
            Ver PDF
        </a>
        <a class="elevated-button" href="{{document.link_file}}.xml" download="{{document.serie}}-{{document.correlative}}.xml" target="_blank">
            Descargar XML
        </a>
    </div>
</ng-template>