<app-item-list-template [configuration]="configuration"/>

<ng-template #anulateFormTemplate>
    <mat-form-field>
        <mat-label>Motivo</mat-label>
        <textarea matInput placeholder="Comment" rows="3" [formControl]="commentCtrl"></textarea>
    </mat-form-field>
</ng-template>

<ng-template #emitFormTemplate>
    <div class="emit-form" [formGroup]="emitForm">
        <mat-form-field>
            <mat-label>Fecha de expiración</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="expire_date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Comentario</mat-label>
            <textarea matInput placeholder="Comentario" rows="3" formControlName="comment"></textarea>
        </mat-form-field>
    </div>
</ng-template>