<div class="dialog__container">

    @if (data.icon) {
    <div class="dialog__icon">
        <span class="material-icons">{{data.icon}}</span>
    </div>
    }

    <div class="dialog__title dialog__title-center">{{ data.title }}</div>

    <div class="dialog__content">
        <p class="text-on-surface-variant body-medium">{{ data.description }}</p>
        @if (data.templateRef) {
            <ng-container [ngTemplateOutlet]="data.templateRef" [ngTemplateOutletContext]="{$implicit: data.data}" />
        }
    </div>

    <div class="dialog__actions">
        @if (data.cancelButton !== false) {
            <button class="text-button" mat-dialog-close>{{data.cancelButton?.text ?? 'Cancelar'}}</button>
        }
        <button class="text-button" [disabled]="data.confirmButton?.disabled" [mat-dialog-close]="true">
            {{data.confirmButton?.text ?? 'Aceptar'}}
        </button>
    </div>
</div>