/* --------------------------------------------------------------------- */
/* ----------------------     APPS  MENU     --------------------------- */
/* --------------------------------------------------------------------- */
.apps-menu {
    border-radius: var(--corner-mdc-dialog, 28px) !important;
}

.apps__menu__container {
    min-width: 280px;
    max-width: 280px;
    min-height: 200px;
    overflow: hidden;
    overflow-y: auto;
    padding: 6px;
}

.apps__menu__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(76px, 1fr));
    grid-template-rows: repeat(auto-fill, 80px) ;
    gap: 4px;
    overflow: hidden;
    padding: 16px 12px;
    border-radius: 14px;
    background: var(--color-surface);
    width: 100%;
}

.apps__menu__content__item {
    width: 76px;
    height: 80px;
}

.apps__menu__content__item__button {
    flex-direction: column;
    justify-content: flex-start !important;
    gap: 8px !important;
    min-width: 76px !important;
    width: 76px !important;
    padding: 12px 6px !important;
    border-radius: 8px !important;
    min-height: 80px !important;
    max-height: 200px !important;
    height: 80px !important;
    overflow: visible !important;
    --bg-icon-button-hovered: rgba(var(--rgb-primary), 0.08) !important;
}

.apps__menu__content__item__button:hover,
.apps__menu__content__item__button:focus {
    height: auto !important;
}

.apps__menu__content__item__button__icon {
    --size-material-symbol-icon: 28px;
}
.apps__menu__content__item__button__text {
    width: 70px;
    text-align: center;
    word-wrap: break-word;
}
.apps__menu__content__item__button:not(:hover):not(:focus) .apps__menu__content__item__button__text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}