<form [formGroup]="configuration.formGroup" class="form" (submit)="submitForm()"
    [ngClass]="{ 'container-loading': configuration.loading }" cdkScrollable>
    <!-- -------------------------- -->
    <div class="form__header">

        <button class="form__header__back-button icon-button" type="button" (click)="location.back()">
            <span class="material-icons">arrow_back</span>
        </button>

        <div class="form__header__title">
            <div>
                {{ configuration.title ?? ((configuration.type == 'update' ? 'Actualizar ' : 'Registrar ') +
                configuration.titleModule) }}
            </div>

            @if(configuration.dataItem; as dataItem) {
            @if (dataItem(); as item) {
            @if(this.configuration.subtitle != false) {
            @if (configuration.subtitle; as subtitleFn) {
            @if ((subtitleFn | executeFunction:item); as subtitle) {
            <div class="form__header__title__sub">{{subtitle}}</div>
            }
            } @else {
            @if (item?.name; as name) {
            <div class="form__header__title__sub">{{name}}</div>
            }
            }
            }
            }
            }

        </div>

        <ng-content select="formHeaderContent" />

        <div class="form__header__actions">
            <button class="text-button" type="submit" [disabled]="configuration.loading">
                {{configuration.saveButton?.text ?? 'Guardar'}}
            </button>
        </div>
    </div>
    <!-- -------------------------- -->
    <div class="form__content">
        <ng-content select="beforeContent" />
        @if (!configuration.hiddeFields) {
        @if(customFormTemplate) {
        <ng-container [ngTemplateOutlet]="customFormTemplate"
            [ngTemplateOutletContext]="{ item: configuration.dataItem?.() }"></ng-container>
        }
        <ng-content />
        @if (configuration.fields;as fields) {
        <div class="form__content__inputs">
            @for (field of fields; track field) {
            @switch (field.type) {
            @case ('date-range') {
            @if (field.dateRange; as input) {
            @if (getControl(input.formControlNameFrom) && getControl(input.formControlNameTo)) {
            <mat-form-field data-type="form-input" data-form-input-type="date-range"
                [attr.data-input-name]="input.formControlNameFrom" class="form__input"
                [ngClass]="input.cssClass | getMixedValue: configuration.dataItem ? configuration.dataItem() : null">
                <mat-label>{{ input.textLabel }}</mat-label>
                <mat-date-range-input [rangePicker]="pickerRange1">
                    <input matStartDate [formControlName]="input.formControlNameFrom">
                    <input matEndDate [formControlName]="input.formControlNameTo">
                </mat-date-range-input>
                <button class="icon-button" matSuffix type="button" (click)="pickerRange1.open()"
                    [disabled]="getControl(input.formControlNameFrom).disabled">
                    <span class="material-icons">calendar_month</span>
                </button>
                <mat-date-range-picker #pickerRange1></mat-date-range-picker>
            </mat-form-field>
            }
            }
            }
            @case ('date') {
            @if (field.date; as input) {
            @if (getControl(input.formControlName); as control) {
            <mat-form-field data-type="form-input" data-form-input-type="date"
                [attr.data-input-name]="input.formControlName" class="form__input"
                [ngClass]="input.cssClass | getMixedValue: configuration.dataItem ? configuration.dataItem() : null">
                <mat-label>{{ input.textLabel }}</mat-label>
                <input matInput [matDatepicker]="pickerDate" [formControlName]="input.formControlName">
                <button class="icon-button" type="button" matSuffix (click)="pickerDate.open()"
                    [disabled]="control.disabled">
                    <span class="material-icons">calendar_month</span>
                </button>
                <mat-datepicker #pickerDate></mat-datepicker>
                @if (control.hasError('required')) { <mat-error>Campo requerido</mat-error> }
                @else if (control.hasError('min')) { <mat-error>Error fecha mínima</mat-error> }
                @else if (control.hasError('max')) { <mat-error>Error fecha máxima</mat-error> }
                @else { <mat-error>Inválido</mat-error> }
            </mat-form-field>
            }
            }

            }
            @case ('number') {
            @if (field.number; as input) {
            @if (getControl(input.formControlName); as control) {
            <mat-form-field data-type="form-input" data-form-input-type="number"
                [attr.data-input-name]="input.formControlName" class="form__input"
                [ngClass]="input.cssClass | getMixedValue: configuration.dataItem ? configuration.dataItem() : null">
                <mat-label>{{ input.textLabel}}</mat-label>
                <input type="number" matInput [formControlName]="input.formControlName"
                    [min]="input.min ? +input.min : 0" [max]="input.max ? +input.max : null">
                @if (control.hasError('required')) { <mat-error>Campo requerido</mat-error> }
                @else if (control.hasError('min')) { <mat-error>Mínimo {{input.min ? +input.min : 0}}</mat-error> }
                @else if (control.hasError('max')) { <mat-error>Máximo {{input.max ? +input.max :
                    'superado'}}</mat-error> }
                @else { <mat-error>Inválido</mat-error> }
            </mat-form-field>
            }
            }
            }
            @case ('text') {
            @if (field.text; as input) {
            @if (getControl(input.formControlName); as control) {
            <mat-form-field data-type="form-input" data-form-input-type="text"
                [attr.data-input-name]="input.formControlName" class="form__input"
                [ngClass]="input.cssClass | getMixedValue: configuration.dataItem ? configuration.dataItem() : null">
                <mat-label>{{ input.textLabel}}</mat-label>
                @if(input.validationOnly == 'numbers') {
                <input appNumbersOnly type="text" matInput [formControlName]="input.formControlName"
                    [placeholder]="input.placeholder ?? input.textLabel" [maxlength]="input.maxLength ?? 255">
                } @else if(input.validationOnly == 'letters') {
                <input appCharactersOnly type="text" matInput [formControlName]="input.formControlName"
                    [placeholder]="input.placeholder ?? input.textLabel" [maxlength]="input.maxLength ?? 255">
                } @else {
                <input type="text" matInput [formControlName]="input.formControlName"
                    [placeholder]="input.placeholder ?? input.textLabel" [maxlength]="input.maxLength ?? 255">
                }
                @if (control.hasError('required')) { <mat-error>Campo requerido</mat-error> }
                @else if (control.hasError('email')) { <mat-error>Email no válido</mat-error> }
                @else if (control.hasError('pattern')) { <mat-error>Contenido no válido</mat-error> }
                @else { <mat-error>Inválido</mat-error> }
            </mat-form-field>
            }
            }
            }
            @case ('textarea') {
            @if (field.textarea; as input) {
            @if (getControl(input.formControlName); as control) {
            <mat-form-field data-type="form-input" data-form-input-type="text-area"
                [attr.data-input-name]="input.formControlName" class="form__input"
                [ngClass]="input.cssClass | getMixedValue: configuration.dataItem ? configuration.dataItem() : null">
                <mat-label>{{ input.textLabel}}</mat-label>
                <textarea matInput [formControlName]="input.formControlName"
                    [placeholder]="input.placeholder ?? input.textLabel"
                    [maxlength]="input.maxLength ?? 2500"></textarea>
                @if (control.hasError('required')) { <mat-error>Campo requerido</mat-error> }
                @else if (control.hasError('email')) { <mat-error>Email no válido</mat-error> }
                @else if (control.hasError('pattern')) { <mat-error>Contenido no válido</mat-error> }
                @else { <mat-error>Inválido</mat-error> }
            </mat-form-field>
            }
            }
            }
            @case ('select') {
            @if (field.select; as input) {
            @if (getControl(input.formControlName); as control) {
            <app-input-select-template data-type="form-input" data-form-input-type="select"
                [attr.data-input-name]="input.formControlName" class="form__input"
                [ngClass]="input.cssClass | getMixedValue: configuration.dataItem ? configuration.dataItem() : null"
                [control]="control" [configuration]="input" />
            }
            }
            }
            @case ('select-local') {
            @if (field.selectLocal; as input) {
            @if (getControl(input.formControlName); as control) {
            <app-input-select-template data-type="form-input" data-form-input-type="select-local"
                [attr.data-input-name]="input.formControlName" class="form__input"
                [ngClass]="input.cssClass | getMixedValue: configuration.dataItem ? configuration.dataItem() : null"
                [control]="control" [configuration]="input" />
            }
            }
            }
            @case ('select-server') {
            @if (field.selectServer; as input) {
            @if (getControl(input.formControlName); as control) {
            <app-input-select-template data-type="form-input" data-form-input-type="select-server"
                [attr.data-input-name]="input.formControlName" class="form__input"
                [ngClass]="input.cssClass | getMixedValue: configuration.dataItem ? configuration.dataItem() : null"
                [control]="control" [configuration]="input" />
            }
            }
            }
            @case ('autocomplete') {
            @if (field.autocomplete; as input) {
            @if (getControl(input.formControlName); as control) {
            <app-input-autocomplete-template data-type="form-input" data-form-input-type="autocomplete"
                [attr.data-input-name]="input.formControlName" class="form__input"
                [ngClass]="input.cssClass | getMixedValue: configuration.dataItem ? configuration.dataItem() : null"
                [idControl]="control" [configuration]="input" />
            }
            }
            }
            @case ('autocomplete-local') {
            @if (field.autocompleteLocal; as input) {
            @if (getControl(input.formControlName); as control) {
            <app-input-autocomplete-template data-type="form-input" data-form-input-type="autocomplete-local"
                [attr.data-input-name]="input.formControlName" class="form__input"
                [ngClass]="input.cssClass | getMixedValue: configuration.dataItem ? configuration.dataItem() : null"
                [idControl]="control" [autocompleteControl]="getControl(input.autocompleteFormControlName ?? '')"
                [configuration]="input" />
            }
            }
            }
            @case ('autocomplete-server') {
            @if (field.autocompleteServer; as input) {
            @if (getControl(input.formControlName); as control) {
            <app-input-autocomplete-template data-type="form-input" data-form-input-type="autocomplete-server"
                [attr.data-input-name]="input.formControlName" class="form__input"
                [ngClass]="input.cssClass | getMixedValue: configuration.dataItem ? configuration.dataItem() : null"
                [idControl]="control" [autocompleteControl]="getControl(input.autocompleteFormControlName ?? '')"
                [configuration]="input" />
            }
            }
            }
            @case ('checkbox') {
            @if (field.checkbox; as input) {
            @if (getControl(input.formControlName); as control) {
            <div data-type="form-input" data-form-input-type="checkbox" [attr.data-input-name]="input.formControlName"
                class="form__input"
                [ngClass]="input.cssClass | getMixedValue: configuration.dataItem ? configuration.dataItem() : null">
                <mat-checkbox [formControlName]="input.formControlName">{{ input.textLabel }}</mat-checkbox>
            </div>
            }
            }
            }
            @case ('switch') {
            @if (field.switch; as input) {
            @if (getControl(input.formControlName); as control) {
            <div data-type="form-input" data-form-input-type="switch" [attr.data-input-name]="input.formControlName"
                class="form__input"
                [ngClass]="input.cssClass | getMixedValue: configuration.dataItem ? configuration.dataItem() : null">
                <mat-slide-toggle [formControlName]="input.formControlName">{{ input.textLabel }}</mat-slide-toggle>
            </div>
            }
            }
            }
            @case ('file') {
            @if (field.file; as input) {
            @if (getControl(input.formControlName); as control) {
            <div data-type="form-input" data-form-input-type="file" [attr.data-input-name]="input.formControlName"
                class="form__input"
                [ngClass]="input.cssClass | getMixedValue: configuration.dataItem ? configuration.dataItem() : null">
                <app-select-file [configuration]="input" [fileCtrl]="control" />
            </div>
            }
            }
            }
            }
            }
        </div>
        }
        <ng-content select="afterContent" />
        }
        @if (!configuration.dataItem?.() && configuration.loading && configuration.type == 'update') {
        <app-spinner-default />
        } @else if (!configuration.dataItem?.() && configuration.httpError && !configuration.ignoreShowError) {
        <app-error-template [error]="configuration.httpError" (reload)="getItem()" />
        }
    </div>


    @if (configuration.type == 'create' || (configuration.type == 'update' && configuration.dataItem &&
    configuration.dataItem())) {
    <div class="form__actions">
        @if (configuration.cancelButton !== false) {
        <button class="text-button" [disabled]="configuration.loading" type="button" (click)="location.back()">
            @if (configuration.cancelButton?.icon && configuration.cancelButton?.iconPosition !== 'right') {
            <span class="material-icons">{{ configuration.saveButton?.icon }}</span>
            }

            <span>{{ configuration.cancelButton?.text ?? 'Cancelar' }}</span>

            @if (configuration.cancelButton?.icon && configuration.cancelButton?.iconPosition === 'right') {
            <span class="material-icons">{{ configuration.saveButton?.icon }}</span>
            }
        </button>
        }

        <button class="filled-button" [disabled]="configuration.loading || this.configuration.formGroup.invalid"
            type="submit">
            @if (configuration.saveButton?.icon && configuration.saveButton?.iconPosition !== 'right') {
            <span class="material-icons">{{ configuration.saveButton?.icon }}</span>
            }
            <span>
                @if (configuration.saveButton?.text; as text) { {{text}} }
                @else if (configuration.type == 'update') { Actualizar }
                @else { Guardar }
            </span>

            @if (configuration.saveButton?.icon && configuration.saveButton?.iconPosition === 'right') {
            <span class="material-icons">{{ configuration.saveButton?.icon }}</span>
            }
        </button>
    </div>
    }

</form>