<div class="grid grid-rows-[auto,1fr,auto] max-h-[80vh]">
    <div class="dialog__title">
        Aperturar caja
    </div>

    <form [formGroup]="form" class="dialog__content">
        <mat-form-field>
            <mat-label>Monto inicial</mat-label>
            <input matInput type="number" [min]="0" placeholder="Monto inicial..." formControlName="amount_init">
            <!-- @if (form.disabled) {
            <button mat-icon-button matSuffix (click)="edit()">
                <span class="material-icons">edit</span>
            </button>
            } -->
            <mat-error>Campo requerido</mat-error>
        </mat-form-field>
    </form>

    <div class="dialog__actions">
        <button class="text-button" mat-dialog-close type="button">Cancelar</button>
        <button class="text-button" cdkFocusInitial (click)="save()">Aperturar</button>
    </div>

</div>