<app-item-list-template [configuration]="listConfiguration">
  <ng-container ngProjectAs="headerButtons">
    <button class="filled-button" routerLink="../transfer">
      <span class="material-icons">lock</span>
      <span>Transferir</span>
    </button>
  </ng-container>
  <ng-template #deletePaymentTemplate>
    <div class="__form">
        <mat-form-field style="display: block;">
            <mat-label>Motivo</mat-label>
            <textarea matInput placeholder="Comment" rows="2" [formControl]="deleteCommentCtrl"></textarea>
        </mat-form-field>
        <p>Una vez eliminado el pago no se podrá revertir el proceso</p>
    </div>
</ng-template>
</app-item-list-template>
