:host {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    [matSnackBarActions] {
        display: flex;
        // gap: 8px;
        margin-right: -8px;
        margin-top: -8px;
        margin-bottom: -8px;
    }
}

.snackbar__content {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-grow: 1;
}

.snackbar__icon {
    width: 24px;
    height: 24px;
}

.snackbar__icon.loading {
    animation: spin 1s linear infinite;
    transform-origin: center center;
}

.snackbar__text {
    flex-grow: 1;
    display: grid;
    overflow: hidden;
}

@keyframes spin {
    0% {
        opacity: .75;
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}