@if (user(); as user) {
<div class="sidenav {{ sidenavDrawerMode() }}">

    <div class="sidenav__drawer" [ngClass]="{ 'drawer-opened': showDrawer() }">
        <div class="sidenav__drawer__menu">
            <div class="sidenav__drawer__menu__title title-medium">
                Panel de control
            </div>
            <button class="sidenav__drawer__menu__button icon-button" (click)="showDrawer.set(!showDrawer())">
                <span class="material-icons">{{showDrawer() ? 'menu_open' : 'menu'}}</span>
            </button>
        </div>

        <div class="sidenav__drawer__nav custom-scroll">
            @for (groupLink of groupDrawerLinks(); track groupLink) {
            <ng-template [ngTemplateOutlet]="groupLinks" [ngTemplateOutletContext]="{$implicit: groupLink}" />
            }
        </div>

    </div>

    <div class="sidenav__backdrop" (click)="showDrawer.set(false)"></div>

    <div class="sidenav__content">
        <header class="sidenav__content__header">

            <a class="sidenav__content__header__logo">
                <img src="https://octant.pe/images/logo_color.webp" alt="">
            </a>

            <button class="icon-button sidenav__content__mobile-menu-button" (click)="showDrawer.set(true)">
                <span class="material-icons">menu</span>
            </button>

            <div class="sidenav__content__header__search">
                <input #inputSearch class="sidenav__content__header__search__input body-medium"
                    (keyup.enter)="enterSearch()" [formControl]="searchCtrl" type="text" placeholder="Buscar...">
                <span class="sidenav__content__header__search__icon material-icons icon-small">search</span>
                <button class="sidenav__content__header__search__microphone icon-button" matTooltip="Activar microfono"
                    (click)="requestAccessMicrophone()">
                    <span class="material-icons">
                        {{ speakingMicrophone() ? 'mic' : 'mic_off' }}
                    </span>
                </button>
                <!-- <mat-select [formControl]="optionsSearchCtrl" class="sidenav__content__header__search__select" value="" placeholder="Modo de busqueda">
                        <mat-option value="">Todos</mat-option>
                        <mat-option value="menu">Menu</mat-option>
                        <mat-option value="list">Lista</mat-option>
                        
                    </mat-select> -->

            </div>

            <nav class="sidenav__content__header__nav">
                <app-notifications-menu />
                <app-apps-menu />
                <app-profile-menu [user]="user" />
            </nav>

        </header>
        <main class="sidenav__content__main">
            <router-outlet />
        </main>
    </div>

    <div class="sidenav__lateral__panel"
        [ngClass]="{'show': showLateralPanel(), 'expanded': lateralPanelType() == 'maximum'}">
        <div class="sidenav__lateral__panel__backdrop" (click)="location.back()"></div>
        <div class="sidenav__lateral__panel__content">
            <div class="sidenav__lateral__panel__content__options">
                <button class="tonal-icon-button" [ngClass]="{'filled-icon-button': lateralPanelType() == 'maximum'}"
                    matTooltip="{{lateralPanelType() == 'maximum' ? 'Contraer panel' : 'Expandir panel'}}"
                    (click)="lateralPanelType() == 'minimum' ? lateralPanelType.set('maximum') : lateralPanelType.set('minimum')">
                    <span class="material-icons">compare</span>
                </button>
            </div>
            <div class="sidenav__lateral__panel__content__projection">
                <router-outlet name="route-lateral" style="display: none;"
                    (activate)="setShowLateralPanel(true, $event)" (deactivate)="setShowLateralPanel(false)" />
            </div>
        </div>
    </div>

</div>
}

<ng-template #groupLinks let-groupLink>
    <div class="sidenav__drawer__nav__group">
        @if (groupLink.label; as label) {
        <div class="sidenav__drawer__nav__group__label">
            <span [title]="label">{{label}}</span>
        </div>
        }
        @for (link of groupLink.links; track link) {
        <ng-template [ngTemplateOutlet]="templateLink" [ngTemplateOutletContext]="{$implicit: link}" />
        }
    </div>
</ng-template>

<ng-template #templateLink let-link>
    <div class="sidenav__drawer__nav__group__link">
        <a class="text-button" (click)="showDrawer.set(false)" [title]="link.label" [routerLink]="[link.route]" routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{exact: link.exact ?? false}">
            <span class="material-icons">{{link.icon}}</span>
            <span class="label-large">{{link.label}}</span>
        </a>
        <div class="sidenav__drawer__nav__group__link__auxiliar-text label-small" [title]="link.label">
            {{link.label}}
        </div>
    </div>
</ng-template>