<app-item-list-template [configuration]="configList">

  <ng-template #emailFormTemplate let-documents>
    <div class="__form">
      <p>Se enviarán al cliente los siguientes comprobantes:
        @for (document of documents; track $index) {
        <b>{{document.serie}}-{{document.correlative}}</b>
        @if ($index < documents.length - 1) {, } } </p>
          <br>
          <mat-form-field style="display:block;">
            <mat-label>Ajuntar copia Emails</mat-label>
            <mat-chip-grid #chipGrid aria-label="Enter keywords" [formControl]="ccEmailCtrl">
              @for (email of emails; track email) {
              <mat-chip-row (removed)="removeKeyword(email)">
                {{email}}
                <button matChipRemove aria-label="'remove ' + email">
                  <span class="material-icons">cancel</span>
                </button>
              </mat-chip-row>
              }
            </mat-chip-grid>
            <input placeholder="Nuevo email..." [matChipInputFor]="chipGrid" (matChipInputTokenEnd)="add($event)"/>
          </mat-form-field>
    </div>
  </ng-template>
</app-item-list-template>