<div [formGroup]="form" class="form__content__inputs">
    <div [formGroup]="boxMovementFormGroup" class="contents">
        <app-input-select-template class="col-span-full @2xl:col-span-3"
            [configuration]="clientBoxSelectServerConfiguration" [control]="clientBoxIdCtrl" />

        <app-input-autocomplete-template class="col-span-6 @2xl:col-span-3" [idControl]="boxOpeningIdCtrl"
            [configuration]="boxOpeningLocalConfiguration" />

        <mat-form-field class="col-span-3 @2xl:col-span-2">
            <mat-label>Monto</mat-label>
            <input matInput type="number" formControlName="amount" [min]="0" placeholder="Monto">
            <mat-error>Campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field class="col-span-6 @2xl:col-span-2">
            <mat-label>F. de la operación</mat-label>
            <input matInput placeholder="Fecha de la operación" formControlName="payment_date" required
                [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>Campo requerido</mat-error>
        </mat-form-field>

        <app-input-select-template class="relative col-span-6 @2xl:col-span-2" [control]="paymentTypeCtrl"
            [configuration]="paymentTypeSelectConfiguration" />

        @if (paymentTypeCtrl.value =='transferencia' || paymentTypeCtrl.value =='depósito') {
        <app-input-select-template class="col-span-6 @2xl:col-span-3" [control]="bankIdCtrl"
            [configuration]="bankAutocompleteLocalConfiguration" />
        }

        @if (paymentTypeCtrl.value !='efectivo' && paymentTypeCtrl.value) {
        <mat-form-field class="col-span-3 @2xl:col-span-3">
            <mat-label>Código de la operación</mat-label>
            <input matInput appNumbersOnly type="text" formControlName="operation_code" placeholder="Código de la operación">
            <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        }

        <!-- @if (form.get('concept')) {
        <mat-form-field class="col-span-full">
            <mat-label>Concepto del movimiento</mat-label>
            <textarea matInput formControlName="concept" id="" rows="2" placeholder="Concepto"></textarea>
            <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        } -->
        <mat-form-field class="col-span-full">
            <mat-label>Observación</mat-label>
            <textarea matInput type="text" formControlName="observation" rows="1"></textarea>
            <mat-error>Campo requerido</mat-error>
        </mat-form-field>

        <!-- <app-select-file class="col-span-full mb-3" [fileCtrl]="voucherFileCtrl"></app-select-file> -->
    </div>
</div>
