
    <ng-container beforeContent>

        <div class="container__items">
            <!-- ----------------- -->
            <!-- ----------------- -->
            <div class="container__block" cdkDropList #todoList="cdkDropList" [cdkDropListData]="documents()" [cdkDropListConnectedTo]="[doneList]" (cdkDropListDropped)="drop($event)">
                <div class="block__title">
                    Items disponibles ({{documents().length}})
                </div>

                <div class="items">
                    <div class="item__row item__row-header">
                        <div class="item__row__cell">Nombre</div>
                        <div class="item__row__cell item__row__cell-end" align="right">Det.</div>
                        <div class="item__row__cell item__row__cell-end" align="right">Ret.</div>
                        <div class="item__row__cell item__row__cell-end" align="right">Rec.</div>
                        <div class="item__row__cell item__row__cell-end" align="right">Total</div>
                    </div>
                    @for (item of documents(); track item; let i = $index) {
                        <div class="item__row" cdkDrag>
                            @for (document_item of item.document_items; track document_item; let i = $index){
                                <div class="item__row__cell">
                                    {{ document_item.description }} |
                                </div>
                            }
                            <div class="item__row__cell" align="right">
                                {{ item.total_detraction |number:'.2-2' }}
                            </div>
                            <div class="item__row__cell" align="right">
                                {{ item.total_retention |number:'.2-2' }}
                            </div>
                            <div class="item__row__cell" align="right">
                                {{ item.total_recaudation |number:'.2-2' }}
                            </div>
                            <div class="item__row__cell item__row__cell-end" align="right">
                                {{ item.total |number:'.2-2' }}
                            </div>
                        </div>
                    }
                </div>
                <br>
                @if (documents().length) {
                <div class="items__footer">
                    <!-- <div class="items__footer__options">
                        <mat-slide-toggle>¿Items incluyen IGV?</mat-slide-toggle>
                    </div> -->

                    <div class="items__footer__resumen">

                        <div class="items__resumen__label">Total detracción</div>
                        <div>:</div>
                        <div class="items__resumen__value">{{totals().total_detraction |number:'.2-2'}}</div>
                        <div class="items__resumen__label">Total retención</div>
                        <div>:</div>
                        <div class="items__resumen__value">{{totals().total_retention |number:'.2-2'}}</div>
                        <div class="items__resumen__label">Total recaudación</div>
                        <div>:</div>
                        <div class="items__resumen__value">{{totals().total_recaudation |number:'.2-2'}}</div>

                        <div class="items__resumen__label">Total</div>
                        <div>:</div>
                        <div class="items__resumen__value">{{totals().total|number:'.2-2'}}</div>

                    </div>
                </div>
                }
                <p class="body-small"><i>Arrastrar a la derecha para seleccionar</i></p>
            </div>
            <!-- ----------------- -->
            <!-- ----------------- -->
            <div class="container__block" cdkDropList #doneList="cdkDropList" [cdkDropListData]="documentsToPay()" [cdkDropListConnectedTo]="[todoList]" (cdkDropListDropped)="drop($event)">

                <div class="block__title">
                    Items seleccionados ({{documentsToPay().length}})
                </div>

                <div class="items">
                    <div class="item__row item__row-header">
                        <div class="item__row__cell">Nombre</div>
                        <div class="item__row__cell item__row__cell-end" align="right">Det.</div>
                        <div class="item__row__cell item__row__cell-end" align="right">Ret.</div>
                        <div class="item__row__cell item__row__cell-end" align="right">Rec.</div>
                        <div class="item__row__cell item__row__cell-end" align="right">Total</div>
                    </div>
                    @for (item of documentsToPay(); track item; let i = $index) {
                        <div class="item__row" cdkDrag>
                            @for (document_item of item.document_items; track document_item; let i = $index){
                                <div class="item__row__cell">
                                    {{ document_item.description }} |
                                </div>
                            }
                            <div class="item__row__cell" align="right">
                                {{ item.total_detraction |number:'.2-2' }}
                            </div>
                            <div class="item__row__cell" align="right">
                                {{ item.total_retention |number:'.2-2' }}
                            </div>
                            <div class="item__row__cell" align="right">
                                {{ item.total_recaudation |number:'.2-2' }}
                            </div>
                            <div class="item__row__cell item__row__cell-end" align="right">
                                {{ item.total |number:'.2-2' }}
                            </div>
                        </div>
                    }
                </div>

                @if (documentsToPay().length) {
                <div class="items__footer">
                    <!-- <div class="items__footer__options">
                        <mat-slide-toggle>¿Items incluyen IGV?</mat-slide-toggle>
                    </div> -->

                    <div class="items__footer__resumen">

                        <div class="items__resumen__label">Total detracción</div>
                        <div>:</div>
                        <div class="items__resumen__value">{{totalsToPay().total_detraction |number:'.2-2'}}</div>
                        <div class="items__resumen__label">Total retención</div>
                        <div>:</div>
                        <div class="items__resumen__value">{{totalsToPay().total_retention |number:'.2-2'}}</div>
                        <div class="items__resumen__label">Total recaudación</div>
                        <div>:</div>
                        <div class="items__resumen__value">{{totalsToPay().total_recaudation |number:'.2-2'}}</div>

                        <div class="items__resumen__label">Total</div>
                        <div>:</div>
                        <div class="items__resumen__value">{{totalsToPay().total|number:'.2-2'}}</div>

                    </div>
                </div>
                }
            </div>
            <!-- ----------------- -->
            <!-- ----------------- -->
        </div>

    </ng-container>
