[data-input-name*="responsible"],
[data-input-name="date"] {
  --grid-column-start-form-input: span;
  --grid-column-end-form-input: 2;
}

[data-input-name="observation"] {
  --grid-column-start-form-input: span;
  --grid-column-end-form-input: 12;
}

.contract-plan-vehicles {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 8px;
}

.contract-plan-vehicles__item {
  border-radius: 6px;
  padding: 16px;
  border: 1px solid var(--color-outline-variant);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  gap: 12px;
  transition: background .25s ease;
}

.contract-plan-vehicles__item.checked {
  background: rgba(var(--rgb-primary), .1);
}

mat-checkbox {
  margin: -10px !important;
}

.contract-plan-vehicles__item__section {
  display: grid;
  gap: 8px;
  margin-top: -2px;
}

.contract-plan-vehicles__item__section__detail {
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 4px;

}
.contract-plan-vehicles__item__section__detail p {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}