<app-item-form-template [configuration]="configuration">

  <div [formGroup]="configuration.formGroup" class="form__content__inputs">

    <app-input-select-template data-input-name="responsible_document_type" [control]="documentTypeCtrl"
      [configuration]="documentTypeSelectConfiguration" />

    <mat-form-field data-input-name="responsible_document_number">
      <mat-label>N° Doc. del contacto</mat-label>
      <input matInput appNumbersOnly type="text" [maxlength]="maxLengthDocumentNumber"
        formControlName="responsible_document_number" />
      <mat-error>*Requerido</mat-error>
    </mat-form-field>

    <mat-form-field data-input-name="responsible_name">
      <mat-label>Nombre del contacto</mat-label>
      <input matInput appCharactersOnly type="text" formControlName="responsible_name" />
      <mat-error>*Requerido</mat-error>
    </mat-form-field>

    <mat-form-field data-input-name="responsible_paternal_name">
      <mat-label>Apellido paterno</mat-label>
      <input matInput appCharactersOnly type="text" formControlName="responsible_paternal_name" />
      <mat-error>*Requerido</mat-error>
    </mat-form-field>

    <mat-form-field data-input-name="responsible_maternal_name">
      <mat-label>Apellido materno</mat-label>
      <input matInput appCharactersOnly type="text" formControlName="responsible_maternal_name" />
      <mat-error>*Requerido</mat-error>
    </mat-form-field>

    <mat-form-field data-input-name="date">
      <mat-label>Fecha instalación</mat-label>
      <input matInput formControlName="date" required [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Campo requerido</mat-error>
    </mat-form-field>

    <mat-form-field data-input-name="observation">
      <mat-label>Observación</mat-label>
      <input matInput appCharactersOnly type="text" formControlName="observation" />
      <mat-error>*Requerido</mat-error>
    </mat-form-field>


    <div formArrayName="contract_plan_vehicles" class="mmm">
      @for (contractPlanVehicleFormGroup of contractPlanVehiclesFormArray.controls; track i; let i = $index) {
      <div [formGroup]="contractPlanVehicleFormGroup" class="container__groups bg-surface-variant">
        <div>
          <mat-checkbox formControlName="selected"></mat-checkbox>
          <span class="title-small">{{contractPlanVehicleFormGroup.get('plate_name')?.value}}</span>
        </div>
        <div class="group__vehicle">
          <mat-form-field data-input-name="gps_imei">
            <mat-label>Código GPS</mat-label>
            <input matInput appCharactersOnly type="text" formControlName="gps_imei" />
            <mat-error>*Requerido</mat-error>
          </mat-form-field>
        </div>
      </div>
      }
    </div>
  </div>

</app-item-form-template>