.cdk-menu-panel {
    border-radius: var(--mat-menu-container-shape);
    box-shadow: var(--box-shadow-level-3);
    padding: 8px 0;
    min-width: 160px;
    max-height: 256px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: linear-gradient(0deg, rgba(var(--rgb-primary), 0.11), rgba(var(--rgb-primary), 0.11)), linear-gradient(0deg, rgb(var(--rgb-surface)), rgb(var(--rgb-surface)));
}

.cdk-menu-item {
    width: 100%;
    padding: 0 16px;
    min-height: 48px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.25s cubic-bezier(0.0, 0.0, 0.2, 1);
    font-family: var(--mat-menu-item-label-text-font);
    line-height: var(--mat-menu-item-label-text-line-height);
    font-size: var(--mat-menu-item-label-text-size);
    letter-spacing: var(--mat-menu-item-label-text-tracking);
    font-weight: var(--mat-menu-item-label-text-weight);
    display: flex;
    align-items: center;
    gap: 8px;
}

.cdk-menu-item:not([disabled]):hover {
    background-color: var(--mat-menu-item-hover-state-layer-color);
}

.cdk-menu-item:not([disabled]):focus {
    background-color: var(--mat-menu-item-focus-state-layer-color);
}