.color-primary {
  color: rgba(var(--rgb-primary));
}

.color-on-primary {
  color: rgba(var(--rgb-on-primary));
}

.color-primary-container {
  color: rgba(var(--rgb-primary-container));
}

.color-on-primary-container {
  color: rgba(var(--rgb-on-primary-container));
}

.color-secondary {
  color: rgba(var(--rgb-secondary));
}

.color-on-secondary {
  color: rgba(var(--rgb-on-secondary));
}

.color-secondary-container {
  color: rgba(var(--rgb-secondary-container));
}

.color-on-secondary-container {
  color: rgba(var(--rgb-on-secondary-container));
}

.color-tertiary {
  color: rgba(var(--rgb-tertiary));
}

.color-on-tertiary {
  color: rgba(var(--rgb-on-tertiary));
}

.color-tertiary-container {
  color: rgba(var(--rgb-tertiary-container));
}

.color-on-tertiary-container {
  color: rgba(var(--rgb-on-tertiary-container));
}

.color-error {
  color: rgba(var(--rgb-error));
}

.color-on-error {
  color: rgba(var(--rgb-on-error));
}