.item-detail {
  max-height: 100%;
  min-height: 100px;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  border-radius: var(--corner-mdc-card);
  background: var(--color-surface);
  transition-property: background;
  transition-duration: .25s;
  transition-timing-function: ease;
}

.item-detail__header {
  display: flex;
  align-items: center;
  gap: 6px;
  min-height: 56px;
  padding: 24px var(--padding-x-card) 8px var(--padding-x-card);

  font-weight: var(--title-medium-font-weight);
  font-size: var(--title-medium-font-size);
  letter-spacing: var(--title-medium-letter-spacing);
  line-height: var(--title-medium-line-height);

  border-bottom: 1px solid transparent;

  position: sticky;
  top: -16px;
  z-index: 10;

  transition-property: background;
  transition-duration: 0.25s;
  transition-timing-function: ease;

  background: var(--color-surface);

  animation: detailHeaderAnimation linear both;
  animation-timeline: scroll(block nearest);
  animation-range: 0px 24px;
}

.item-detail__header__back-button {
  margin-left: -12px;
}

.item-detail__header__title {
  display: grid;
  position: relative;
  flex: 1 1 0%;
  color: rgb(var(--rgb-on-surface));
}

.item-detail__header__title__sub {
  font-weight: var(--body-small-font-weight);
  font-size: var(--body-small-font-size);
  letter-spacing: var(--body-small-letter-spacing);
  line-height: var(--body-small-line-height);
  color: var(--rgb-on-surface-variant);

  height: var(--body-small-line-height);
  margin-bottom: calc(var(--body-small-line-height) * -1);
  opacity: 0;

  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;

  animation: detailSubtitleAnimation linear both;
  animation-timeline: scroll(block nearest);
  animation-range: 0 var(--padding-y-card);
}

.item-detail__header__title__sub:empty {
  display: none !important;
  height: 0 !important;
}

.item-detail__header__actions {
  display: flex;
  align-items: center;
  gap: 6px;
}

.item-detail__content {
  padding: 16px var(--padding-x-card) 24px;
  display: grid;
  gap: 24px;
}


.item-detail__group {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 0px 8px;
  position: relative;
  z-index: 0;
}

.item-detail__group__header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column: 1 / -1;
  margin: 0 0 12px;
  font-weight: var(--label-large-font-weight);
  font-size: var(--label-large-font-size);
  line-height: var(--label-large-line-height);
  letter-spacing: var(--label-large-letter-spacing);
  color: rgb(var(--rgb-on-surface));
  align-items: center;
}

.item-detail__group__row__image {
  grid-column: 1 / -1;
}

.item-detail__group__row__image__container {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.item-detail__group__row__image__container__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-detail__group__header__icon {
  margin-right: 8px;
  margin-left: -2px;
  display: inline-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--rgb-surface));
  border-radius: 50%;
  color: rgb(var(--rgb-on-surface));
  --size-material-symbol-icon: 18px;
  background: rgba(var(--rgb-on-surface), .075);
  width: 28px;
  height: 28px;
}

.item-detail__group__header__title {
  font-weight: var(--label-large-font-weight);
  font-size: var(--label-large-font-size);
  line-height: var(--label-large-line-height);
  letter-spacing: var(--label-large-letter-spacing);
  color: rgb(var(--rgb-on-surface));
  padding-bottom: 4px;
  border-bottom: 1px solid var(--color-outline-variant);
}

.item-detail__group__row {
  display: contents;
  font-weight: var(--body-medium-font-weight);
  font-size: var(--body-medium-font-size);
  line-height: var(--body-medium-line-height);
  letter-spacing: var(--body-medium-letter-spacing);
  color: rgb(var(--rgb-on-surface-variant));
}

.item-detail__group__row__label {
  // font-weight: var(--label-large-font-weight);
  // font-size: var(--label-large-font-size);
  // line-height: var(--label-large-line-height);
  // letter-spacing: var(--label-large-letter-spacing);
  // color: rgb(var(--rgb-on-surface));
  margin-left: 36px;
}

.item-detail__group__row__value__hovered {
  color: background .2s ease;
  cursor: pointer;
}

.item-detail__group__row__value__hovered:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

.item-detail.loading .item-detail__header__actions button,
.item-detail.loading .item-detail__header__title__sub,
.item-detail.loading .item-detail__group {
  transition: none;
  background-color: rgba(var(--rgb-on-surface), 0.1) !important;
  animation: bg-animation-loading-2 1.5s ease-in-out infinite;
  ;
}

.item-detail.loading .item-detail__header__actions button *,
.item-detail.loading .item-detail__header__title__sub *,
.item-detail.loading .item-detail__group *,
.item-detail.loading .item-detail__group::after,
.item-detail.loading .item-detail__group::before {
  opacity: 0 !important;
}

@keyframes detailHeaderAnimation {
  to {
    background: rgba(var(--rgb-surface), .8);
    backdrop-filter: blur(8px);
    border-bottom-color: var(--color-outline-variant);
    font-weight: var(--title-small-font-weight);
    font-size: var(--title-small-font-size);
    letter-spacing: var(--title-small-letter-spacing);
    line-height: var(--title-small-line-height);
  }
}

@keyframes detailSubtitleAnimation {
  to {
    margin-bottom: 0;
    opacity: 1;
  }
}