.status-chip {
  background: var(--bg-chip, var(--color-secondary-container));
  color: var(--text-color-chip, var(--color-on-secondary-container));
  padding: 3px 8px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: capitalize;
}

.status-chip[title="emitida"] {
  --bg-chip: var(--color-tertiary-container);
  --text-color-chip: var(--color-on-tertiary-container);
}

.status-chip[title="pagada"] {
  --bg-chip: var(--color-primary-container);
  --text-color-chip: var(--color-on-primary-container);
}

.status-chip[title="anulado"],
.status-chip[title="expirado"],
.status-chip[title="eliminado"],
.status-chip[title="anulado"],
.status-chip[title="anulada"],
.status-chip[title="por emitir"] {
  --bg-chip: var(--color-error-container);
  --text-color-chip: var(--color-on-error-container);
}