.item-view {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  overflow: hidden;
}

.item-view__header {
  background: rgb(var(--rgb-surface));
  padding: var(--padding-y-card) var(--padding-x-card) 0px var(--padding-x-card);
  border-radius: var(--corner-mdc-card) var(--corner-mdc-card) 0 0;
  overflow: hidden;
  transition-property: background;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

.item-view__content {
  position: relative;
  border-radius: 0 0 var(--corner-mdc-card) var(--corner-mdc-card);
  width: auto;
  max-width: 100%;
}

.item-view__content__router {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.item-view__header__actions {
  float: right;
  display: flex;
  gap: 4px;
  justify-content: flex-end;
  margin-top: -8px;
}

.item-view__header__subtitle {
  font-weight: var(--label-medium-font-weight);
  font-size: var(--label-medium-font-size);
  letter-spacing: var(--label-medium-letter-spacing);
  line-height: var(--label-medium-line-height);
  text-transform: uppercase;
  color: rgb(var(--rgb-on-surface-variant));
  cursor: pointer;
  transition-property: padding-left, color, text-decoration;
  transition-duration: .25s;
  transition-timing-function: ease;
  transition-delay: 500ms;
  display: inline-block;
  margin-bottom: 4px;
  position: relative;
}

.item-view__header__subtitle::before {
  content: "arrow_left_alt";
  font-family: "Material Symbols Rounded";
  font-variation-settings: "FILL" 1, "wght" var(--wght-material-symbol-icon, 400), "GRAD" var(--grad-material-symbol-icon, 0), "opsz" 24px;
  display: inline-block;
  font-size: 24px;
  position: absolute;
  left: -2px;
  transition-property: opacity, transform;
  transition-duration: .25s;
  transition-timing-function: ease;
  transition-delay: 500ms;
  opacity: 0;
  transform: translateX(4px);
  text-align: left;
  pointer-events: none;
  user-select: none;
}

.item-view__header__subtitle:hover {
  transition-delay: 125ms;
  text-decoration: underline;
  color: rgb(var(--rgb-on-surface));
  padding-left: 28px;
}

.item-view__header__subtitle:hover::before {
  transition-delay: 125ms;
  opacity: 1;
  transform: translateX(0);
}

.item-view__header__title {
  font-weight: var(--title-medium-font-weight);
  font-size: var(--title-medium-font-size);
  letter-spacing: var(--title-medium-letter-spacing);
  line-height: var(--title-medium-line-height);
  color: rgb(var(--rgb-on-surface));
  text-transform: uppercase;
}

.item-view__header__nav {
  border-bottom: 1px solid rgba(var(--rgb-on-surface-variant), .175);
  margin: 4px calc(var(--padding-x-card) * -1) 0px;
}

.mat-mdc-tab-header {
  --mdc-tab-indicator-active-indicator-height: 3px !important;
}

.item-view__content__router .list,
.item-view__content__router .form,
.item-view__content__router .item-detail {
  border-radius: 0 0 var(--corner-mdc-card) var(--corner-mdc-card) !important;
}

/* .item-view__header__nav .mat-mdc-tab-link {
    border-radius: 100px;
    overflow: hidden;
  }
  
  .item-view__header__nav
    .mat-mdc-tab-link
    .mdc-tab-indicator__content--underline {
    --mdc-tab-indicator-active-indicator-height: 48px !important;
    --mdc-tab-indicator-active-indicator-shape: 48px !important;
  }
  
  .item-view__header__nav .mat-mdc-tab-link.mdc-tab--active .mdc-tab__text-label {
    --mat-tab-header-active-label-text-color: rgb(
      var(--rgb-on-primary)
    ) !important;
    --mat-tab-header-active-focus-label-text-color: rgba(
      var(--rgb-on-primary),
      1
    );
    --mat-tab-header-active-hover-label-text-color: rgba(
      var(--rgb-on-primary),
      1
    );
    --mat-tab-header-active-focus-indicator-color: rgba(var(--rgb-on-primary), 1);
    --mat-tab-header-active-hover-indicator-color: rgba(var(--rgb-on-primary), 1);
  } */