.mdc-text-field {
    transition: background-color 0.25s ease;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
}
