.mat-expansion-panel {
    box-shadow: none !important;
    background-color: rgba(var(--rgb-surface-variant)) !important;
    border-radius: calc(var(--corner-mdc-card) / 2) !important;
    margin-top: 4px!important;
    margin-bottom: 4px!important;
}

.mat-expansion-panel-header {
    height: 56px !important;
    background-color: rgba(var(--rgb-surface-variant)) !important;
}

.mat-expansion-panel-header-title {
    color: rgba(var(--rgb-on-surface)) !important;
}