.sidenav {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: var(--body-medium-font-family-name);
  font-style: var(--body-medium-font-family-style);
  font-weight: var(--body-medium-font-weight);
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  text-transform: var(--body-medium-text-transform);
  text-decoration: var(--body-medium-text-decoration);
  --left-sidenav-drawer: 0px;
  --top-sidenav-drawer: 0px;
  --bottom-sidenav-drawer: 0px;
  --opacity-text-sidenav-drawer: 0;
  --width-sidenav-drawer: 74px;
  --padding-x-sidenav-content: 24px;
  --opacity-backdrop-drawer: 0;
  --visibility-backdrop-drawer: hidden;
}

.sidenav:has(.drawer-opened) {
  --width-sidenav-drawer: 280px;
  --opacity-text-sidenav-drawer: 1;
  --opacity-backdrop-drawer: 1;
  --visibility-backdrop-drawer: visible;
}

.sidenav__drawer {
  position: absolute;
  top: var(--top-sidenav-drawer);
  left: var(--left-sidenav-drawer);
  bottom: var(--bottom-sidenav-drawer);
  width: var(--width-sidenav-drawer);
  color: var(--color-on-surface);
  background: linear-gradient(0deg, rgba(var(--rgb-primary), 0.05), rgba(var(--rgb-primary), 0.05)), linear-gradient(0deg, rgb(var(--rgb-surface)), rgb(var(--rgb-surface)));
  background: var(--color-surface);
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  transition-property: background, width, left;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */
.sidenav__drawer__menu {
  display: flex;
  padding: 8px 17px;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

.sidenav__drawer__menu__title {
  opacity: var(--opacity-text-sidenav-drawer);
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 40px);
  overflow: hidden;
  transition: opacity .25s ease;
  padding-left: 6px;
}

/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */
.sidenav__drawer__nav {
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  overflow: hidden;
  overflow: hidden;
  overflow-y: auto;
  --width-track-scroll: 6px;
}

.sidenav__drawer__nav>.sidenav__drawer__nav__group:first-of-type .sidenav__drawer__nav__group__label {
  margin-top: 0 !important;
  border: none !important;
  padding-top: 0 !important;
}

.sidenav__drawer__nav__group__label {
  margin: 16px 16px 16px 16px;
  border-top: 1px solid var(--color-outline-variant);
  padding-top: 16px;
  opacity: var(--opacity-text-sidenav-drawer);
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 32px);
  overflow: hidden;
  transition: opacity .25s ease;
  font-weight: var(--body-small-font-weight);
  font-size: var(--body-small-font-size);
  letter-spacing: var(--body-small-letter-spacing);
  line-height: var(--body-small-line-height);
  color: var(--color-on-surface-variant);
}

.sidenav__drawer__nav__group__link {
  height: 56px;
  position: relative;
  transition-property: color;
  transition-duration: .25s;
  transition-timing-function: ease;
}

.sidenav__drawer__nav__group__link a {
  --text-color-mdc-button: var(--color-on-surface-variant);
  position: relative;
  justify-content: flex-start;
  gap: 20px;
  padding: 0 21px;
  width: 100%;
  height: 100%;
  transition-property: background, height, color;
  transition-duration: .25s;
  transition-timing-function: ease;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  box-shadow: none !important;
}

.sidenav__drawer__nav__group__link a .material-icons {
  --size-material-symbol-icon: 24px;
}

.sidenav__drawer__nav__group__link a:hover .material-icons {
  --grad-material-symbol-icon: 200;
}


.sidenav__drawer__nav__group__link a.router-link-active {
  --bg-mdc-button: var(--color-primary-container) !important;
  --text-color-mdc-button: var(--color-on-primary-container);
  --fill-material-symbol-icon: 1;
}

.sidenav__drawer__nav__group__link__auxiliar-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
  opacity: 0;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  visibility: hidden;
  color: var(--color-on-surface-variant);
  transition-property: opacity, color;
  transition-duration: .25s;
  transition-timing-function: ease;
}

.sidenav__drawer:not(.drawer-opened) .sidenav__drawer__nav {
  --width-track-scroll: 0px;
}

.sidenav__drawer:not(.drawer-opened) .sidenav__drawer__nav__group__link a {
  height: 30px;
}

.sidenav__drawer:not(.drawer-opened) .sidenav__drawer__nav__group__link__auxiliar-text {
  opacity: 1;
  visibility: visible;
}



.sidenav__content {
  height: 100%;
  overflow: hidden;
  margin-left: calc(var(--left-sidenav-drawer, 0px) + var(--width-sidenav-drawer));
  display: grid;
  grid-template-rows: auto 1fr;
  background: rgba(var(--rgb-primary), 0.05);
  transition-property: background, margin-left;
  transition-duration: .25s;
  transition-timing-function: ease;
}

.sidenav__content__header {
  padding: 6px var(--padding-x-sidenav-content);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidenav__content__mobile-menu-button {
  display: none !important;
  transform: translateX(4px);
  z-index: 1 !important;
  position: absolute !important;
  left: 12px;
}

.sidenav__content__header__logo {
  height: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0 -2px;
}

.sidenav__content__header__logo img {
  height: 40px;
}

.sidenav__content__header__search {
  width: 460px;
  height: 48px;
  position: relative;
}

.sidenav__content__header__search__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: var(--color-on-surface-variant);
  pointer-events: none;
  user-select: none;
}

.sidenav__content__header__search__input {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--corner-mdc-button, 40px);
  background: var(--color-surface-variant);
  position: relative;
  padding: 0px 148px 0px 52px;
  transition: background .25s ease;
}

.sidenav__content__header__search__input:focus {
  background: var(--color-surface);
  caret-color: var(--color-primary);
}

.sidenav__content__header__search__input:focus~.sidenav__content__header__search__icon {
  color: var(--color-primary);
  --fill-material-symbol-icon: 1;
}

.sidenav__content__header__search__microphone {
  position: absolute !important;
  right: 8px;
  top: 4px;
}

.sidenav__content__header__search__microphone.speaking {
  --fill-material-symbol-icon: 1;
  color: var(--color-primary);
}

// .sidenav__content__header__search__select {
//     position: absolute;
//     right: 0;
//     top: 0;
//     width: 112px !important;
//     border-left: 1px solid var(--color-outline);
// }

// .sidenav__content__header__search__select .mat-mdc-select-trigger {
//     line-height: 48px;
//     height: 48px;
//     padding: 0 20px 0 16px;
// }

.sidenav__content__header__nav {
  display: flex;
  align-items: center;
  gap: 4px;
}

.sidenav__content__main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: 8px var(--padding-x-sidenav-content);
  container-type: inline-size;
}

.sidenav__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  opacity: var(--opacity-backdrop-drawer);
  visibility: var(--visibility-backdrop-drawer);
  background: rgba(var(--rgb-on-surface), 0.5);
  transition-property: opacity, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  display: none;
}


.sidenav__lateral__panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
  transition-property: visibility;
  transition-duration: 0.25s;
  transition-timing-function: var(--transition-timing-function-drawer);
  width: calc((var(--margin-left-content-drawer, 0px) + 8px) + 100%);
  margin-left: calc((var(--margin-left-content-drawer, 0px) + 8px) * -1);
}

.sidenav__lateral__panel__backdrop {
  height: 100%;
  visibility: hidden;
  background: rgba(var(--rgb-on-surface), 0.12);
}

.sidenav__lateral__panel.expanded .sidenav__lateral__panel__content {
  width: 66%;
}

.sidenav__lateral__panel__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  min-width: 400px;
  padding: 0;
  background: rgba(var(--rgb-surface), 1);
  backdrop-filter: blur(4px);
  box-shadow: var(--box-shadow-level-2);
  border-radius: 8px 0 0 8px;
  transition-property: transform, width;
  transition-duration: 0.25s;
  transition-timing-function: var(--transition-timing-function-drawer);
  transform: translateX(400px);
  container-type: inline-size;
}

.sidenav__lateral__panel__content__options {
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  gap: 4px;
  transform: translateX(-100%);
  padding: 4px;
}

.sidenav__lateral__panel__content__options>button:not(.filled-icon-button) {
  --bg-icon-button: rgba(var(--rgb-surface), 1);
}

.sidenav__lateral__panel__content__options>button {
  box-shadow: var(--box-shadow-level-1) !important;
}


.sidenav__lateral__panel__content__projection {
  height: 100%;
  overflow: auto;
  overflow: hidden;
  position: relative;
  background: rgb(var(--rgb-background));
  border-radius: 8px 0 0 8px;
}

.sidenav__lateral__panel.show,
.sidenav__lateral__panel.show .sidenav__lateral__panel__backdrop {
  visibility: visible;
  pointer-events: all;
}

.sidenav__lateral__panel.show .sidenav__lateral__panel__content {
  transform: translateX(0px);
}

@media screen and (max-width: 924px) {
  .sidenav__backdrop {
    display: initial;
  }

  .sidenav__content {
    margin-left: 74px !important;
  }

  .sidenav__drawer {
    z-index: 100;
  }
}

@media screen and (max-width: 520px) {
  .sidenav {
    --left-sidenav-drawer: -280px;
    --top-sidenav-drawer: 0px;
    --bottom-sidenav-drawer: 0px;
    --opacity-text-sidenav-drawer: 0;
    --width-sidenav-drawer: 280px !important;
    --padding-x-sidenav-content: 8px;
  }

  .sidenav__drawer {
    z-index: 100;
  }

  .sidenav__content {
    margin-left: 0px !important;
  }

  .sidenav__content__header__logo {
    display: none !important;
  }

  .sidenav__content__header__search {
    width: 100%;
  }

  .sidenav__content__header__search>span,
  .sidenav__content__header__search>button {
    display: none !important;
  }

  // .sidenav__content__header__nav {
  //   padding-right: 4px;
  // }

  .sidenav__content__mobile-menu-button {
    display: flex !important;
  }

  .sidenav__content__header__nav {
    position: absolute;
    right: 12px;
    gap: 0 !important;
  }

  .sidenav:has(.drawer-opened) {
    --left-sidenav-drawer: 0;
  }
}