<app-item-form-template [configuration]="formConfiguration">

    <ng-container beforeContent>
        <div class="items">
            <div class="item__row item__row-header">
                <div class="item__row__cell">Descripción</div>
                <div class="item__row__cell" align="right">Costo</div>
                <div class="item__row__cell" align="right">Periodos</div>
                <div class="item__row__cell" align="right">Subtotal</div>
            </div>

            @for (item of items(); track item.contract.id; let i = $index) {
            <app-client-contract-document-item-form [item]="item" [index]="i" (deleteItem)="deleteItem(i)"
                (updateItem)="updateDescription(i)" />
            }

            <br>
            <button class="outlined-button contract__add-button" (click)="newAdd($event)">
                <span class="material-icons">add</span>
                <span>Agregar contrato</span>
            </button>
            <br>
        </div>

        <div class="items__footer">
            <div class="items__footer__resumen">
                @if (total(); as amounts;) {

                    <div class="items__footer__resumen__title">Resumen</div>

                    <div class="contents">
                        <p class="items__resumen__label">Costo directo (S/.)</p>
                        <p>:</p>
                        <p class="items__resumen__value"> {{ amounts | number : ".2-2" }}</p>
                    </div>

                    <div class="contents">
                        <p class="items__resumen__label">Descuento (S/.)</p>
                        <p>:</p>
                        <p class="items__resumen__value">0.00</p>
                    </div>

                    <div class="contents">
                        <p class="items__resumen__label">IGV (18%) (S/.)</p>
                        <p>:</p>
                        <p class="items__resumen__value">{{ (amounts * 0.18) | number : ".2-2" }}</p>
                    </div>

                    <div class="contents">
                        <p class="items__resumen__label">Total (S/.)</p>
                        <p>:</p>
                        <p class="items__resumen__value">{{ (amounts + (amounts * 0.18)) | number : "0.2-2" }}</p>
                    </div>
                    @if((amounts + (amounts * 0.18)) >= 700){
                        <div class="contents">
                            <p class="items__resumen__label">Detracción (S/.)</p>
                            <p>:</p>
                            <p class="items__resumen__value">{{ ((amounts + (amounts * 0.18))* 0.1) | number : "0.2-2" }}</p>
                        </div>
                        <div class="contents">
                            <p class="items__resumen__label">Recurrente (S/.)</p>
                            <p>:</p>
                            <p class="items__resumen__value">{{ ((amounts + (amounts * 0.18))+ ((amounts + (amounts * 0.18))* 0.1)) | number : "0.2-2" }}</p>
                        </div>
                    }
                }
            </div>
        </div>
    </ng-container>
</app-item-form-template>
